h1,h2{
    color: darkblue;
    background-color: aqua;
}
*{
    color:darkmagenta;
    background-color: aqua;
}
.VII{
    color: red;
    background-color: aqua;
}
li>a{
    color: darkorchid;
    background-color: aqua;
}
P>q{
    color: darkviolet;
    background-color: aqua;
}
P i{
    color: brown;
    background-color: aqua;
}